/* html {
    background-image: url("./images/typing_machine.jpg");
    background-repeat: no-repeat;
    background-size: 1400px;
} */


/* #root {
    background-image: url("./images/bgr7.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%; 
  } */
